// Place all the styles related to the expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bot-right {
	position:absolute;
	bottom:0px;
	right:15px;
	margin:0;
}

.col-drop {
  width: 300px;
}