<div class="panel panel-default">
                      <!-- Default panel contents -->
                      <% if @cheque.errors.any? %>
                              <div id="error_explanation">
                                <h2><%= pluralize(@cheque.errors.count, "error") %> prohibited this cheque from being saved:</h2>
                                <ul>
                                <% @cheque.errors.full_messages.each do |message| %>
                                  <li><%= message %></li>
                                <% end %>
                                </ul>
                              </div>
                      <% end %> 

                      <div class="panel-heading">Tenants Postdated Cheques</div>
                      <div class="panel-body tenants__cheque_list">
                        <!-- Table -->
                        <table class="table reduce_table_footer">
                          <thead>
                            <th>Post Dated</th>
                            <th>Amount</th>
                            <th>Remove?</th>
                          </thead>
                          <tbody id="cheque_table_body">
                          </tbody>
                        </table>
                      </div>
              </div>